<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title>{{"CASE_DETAIL_TITLE"|translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="translateController.showTranslateOption()"><ion-icon
          name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list lines="none">
    <ion-item>
      <img alt="" src="https://d10nlbax8jwfa8.cloudfront.net/{{caseValues.image_selected}}"/>
    </ion-item>
    <ion-item>
      <div class="case-icons">
        <div class="case-icon-item" *ngFor="let property of caseProperties; let i=index">
          <ion-button size="default" [color]="i===propertyIndexSelected?'primary':'secondary'"
            (click)="propertyIndexSelected=i">
            <ion-icon slot="icon-only" [name]="property.icon"></ion-icon>
          </ion-button>
          <span>{{property.label | translate}}</span>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <h1>{{caseProperties[propertyIndexSelected].title | translate}}:</h1>
    </ion-item>
    <ion-item lines="full">
      <h3 class="property-value">{{caseValues[caseProperties[propertyIndexSelected].id]}}</h3>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h1>{{'DIAGNOSIS_TITLE' |translate}}</h1>
    </ion-list-header>
    <ion-item lines="full" *ngFor="let dioagnosiItem of caseDiagnosis; let i=index">
      <ion-button slot="start" size="default" [color]="dioagnosiItem.doctor_id?'secondary':'primary'">
        <ion-icon slot="icon-only" [name]="dioagnosiItem.doctor_id?'person':'print'"></ion-icon>
      </ion-button>
      <ion-label>
        <h1>{{('DIAGNOSIS_ITEM_TITLE' |translate) +' '+ i}}</h1>
        <ion-text [color]="dioagnosiItem.doctor_id?'secondary':'primary'">
          <p>{{dioagnosiItem.doctor_id?dioagnosiItem.doctor_name:('ONTOLOGY_DIAGNOSIS' |translate) }}</p>
        </ion-text>
      </ion-label>

      <ion-button slot="end" size="small" [color]="dioagnosiItem.doctor_id?'secondary':'primary'" shape="round">
        <ion-icon name="ellipsis-horizontal" [name]="dioagnosiItem.doctor_id?'ellipsis-horizontal':'checkmark'" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item lines="full">
      <ion-button slot="start" size="default" color="primary">
        <ion-icon slot="icon-only" [name]="'print'"></ion-icon>
      </ion-button>
      <ion-label>
        <h1>Diagnostic 2</h1>
        <ion-text color="primary">
          <p>Online Ontology</p>
        </ion-text>
      </ion-label>

      <ion-button slot="end" size="small" color="primary" shape="round">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-item lines="none">
      <ion-button (click)="presentAlert()" size="default" class="cta" color="secondary"
        shape="round">{{'DIAGNOSIS_BUTTON' |translate}}</ion-button>

    </ion-item>


  </ion-list>

</ion-content>
