<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title>{{"CASE_RECODRD_TITLE"|translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="caseForm" (ngSubmit)="onSubmit()">

    <ion-list [inset]="true" class="case-register__list">

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{'CASE_NAME'|translate}}</ion-label>
        <ion-input class="case-register__input" formControlName="name"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{injuryTypes.name | translate}}</ion-label>
        <ion-select class="case-register__select" formControlName="injuryType">
          <ion-select-option [value]="option|translate" *ngFor="let option of injuryTypes.items">{{option
            |translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{injuryShapes.name| translate}}</ion-label>
        <ion-select class="case-register__select" formControlName="injuryShape">
          <ion-select-option [value]="option|translate" *ngFor="let option of injuryShapes.items">{{option
            |translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{lessionsNumber.name| translate}}</ion-label>
        <ion-select class="case-register__select" formControlName="lessionsNumber">
          <ion-select-option [value]="option|translate" *ngFor="let option of lessionsNumber.items">{{option
            |translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{injuryDistributions.name| translate}}</ion-label>
        <ion-select class="case-register__select" formControlName="injuryDistribution">
          <ion-select-option [value]="option|translate" *ngFor="let option of injuryDistributions.items">{{option
            |translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{'INJURY_COLOR' |translate}}</ion-label>
        <ion-input class="case-register__input case-register__input-color" type="color"
          formControlName="injuryColor"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="case-register__item">
        <ion-label class="case-register__label">{{'INJURY_IMAGE'|translate}}</ion-label>
        <ion-input class="case-register__input"></ion-input>
        <ion-icon name="cloud-upload" slot="end" color="tertiary" size="large"></ion-icon>
      </ion-item>

      <ion-button color="secondary" shape="round" [disabled]="!caseForm.valid" type="submit"
        class="case-register__button">{{"CASE_REGISTER_BUTTON"|translate}}</ion-button>

    </ion-list>



  </form>

</ion-content>
