<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title>{{"CASE_RECODRD_TITLE"|translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<form [formGroup]="caseForm" (ngSubmit)="sendRegisterProfile()">

  <ion-list [inset]="true" class="case-register__list">

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{'CASE_NAME'|translate}}</ion-label>
      <ion-input class="case-register__input" formControlName="name"></ion-input>
    </ion-item>

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{injuryTypes.name | translate}}</ion-label>
      <ion-select class="case-register__select" formControlName="injury_type" interface="action-sheet">
        <ion-select-option [value]="option|translate" *ngFor="let option of injuryTypes.items">{{option
          |translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{injuryShapes.name| translate}}</ion-label>
      <ion-select class="case-register__select" formControlName="shape" interface="action-sheet">
        <ion-select-option [value]="option|translate" *ngFor="let option of injuryShapes.items">{{option
          |translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{lessionsNumber.name| translate}}</ion-label>
      <ion-select class="case-register__select" formControlName="number_of_lessions" interface="action-sheet">
        <ion-select-option [value]="option|translate" *ngFor="let option of lessionsNumber.items">{{option
          |translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{injuryDistributions.name| translate}}</ion-label>
      <ion-select class="case-register__select" formControlName="distributions" interface="action-sheet">
        <ion-select-option [value]="option|translate" *ngFor="let option of injuryDistributions.items">
          {{option|translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{'INJURY_COLOR' |translate}}</ion-label>
      <ion-select class="case-register__select" formControlName="color" interface="action-sheet">
        <ion-select-option [value]="option|translate" *ngFor="let option of injuryColor.items">
          {{option|translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fill="outline" class="case-register__item">
      <ion-label class="case-register__label">{{'INJURY_IMAGE'|translate}}</ion-label>
      <ion-input class="case-register__input" formControlName="name"></ion-input>
      <ion-icon type="file" (click)="uploadImage()" class="case-register__icon" name="cloud-upload" slot="end" color="secondary-contrast" size="large"></ion-icon>
    </ion-item>

    <div></div>
  </ion-list>

</form>


<ion-content>

  <ion-tabs>
    <div class="center">
      <ion-button (click)="sendRegisterProfile()" color="secondary" shape="round" [disabled]="!caseForm.valid" type="submit"
        class="case-register__button">{{"CASE_REGISTER_BUTTON"|translate}}</ion-button>
    </div>
    <ion-tab-bar color="primary" slot="bottom">

      <ion-tab-button tab="contact">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>