<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <h3>{{"GREETINGS" | translate}}</h3>
    <p *ngIf="position" >Sensor:  <a target="_blank" rel="noopener noreferrer" href="{{ url }}">Go to Google Map</a></p>
    <p *ngIf="position" >latitude:  {{ position.coords.latitude}}</p>
    <p *ngIf="position" >longitude:  {{ position.coords.longitude}}</p>
    <p *ngIf="position" >altitude:  {{ position.coords.altitude}}</p>
    <p *ngIf="position" >accuracy:  {{ position.coords.accuracy}}</p>
  </div>
</ion-content>
<ion-select interface="action-sheet" placeholder="Select language" (ionChange)="changeLang($event)">
    <ion-select-option *ngFor="let lang of lagns">{{lang}}</ion-select-option>
</ion-select>
<ion-button (click)="onClick()">
  {{ "Test_GPS" | translate }}
</ion-button>
