.bt_cases_register{
  width: 70%;
  --border-radius: 50px;
  margin-bottom: 4rem;
  border: none;
}
.center{
  text-align: center;
}


.ion-icon-card {
  position: absolute;
  top: 0;
  color: #251a4c;
  background-color: #DC8AF9;
  border-radius: 10rem;
}

p, h2{
  white-space: normal;
}