<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title>{{"HOME"|translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card>
    <ion-item >
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>

      <ion-label lines="full">
        <h2>Maecenas case1 Test</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon class="ion-icon-card" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  


  
</ion-content>


<ion-content>
  <ion-tabs>
    
    <div class="center">
      <ion-button  (click)="goCaseRegister()" color="secondary" class="bt_cases_register">{{"CASESREGISTER"|translate}}</ion-button>
    </div>
    <ion-tab-bar color="primary" slot="bottom">

      <ion-tab-button tab="contact">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>