<ion-content class="ion-padding">
  <div>
    <ion-img class="logo" src="../../../assets/img/Logo_DermoApp.png" alt="DermoApp logo"></ion-img>
  </div>

  <div style="margin-top: 3rem;">
    <label>Email</label>
    <input type="text" placeholder="Enter your email address">
    <label>Password</label>
    <input type="text" placeholder="Enter your password">
  </div>

  <div class="center">
    <div>
      <ion-button class="bt_login" >{{ 'Log In'   }}</ion-button>
    </div>
  </div>

  <div>
    <a href="">Forgot your password?</a>
  </div>
  <div>
    <a href="/start">Sign In</a>
  </div>

</ion-content>
