.logo{
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
  padding-top: 3rem;
}

.center{
  text-align: center;
}
.bt_sign{
  width: 70%;
  --border-radius: 50px;
  margin-top: 5rem;
}

.bt_create_account{
  width: 70%;
  --border-radius: 50px;
  margin-top: 3rem;
}